/* 
Colors
lighter-white: #e6edf2
lighter-green:#6c99b6
main-blue: #20a6f1
light-grey: #44577e
dark-background: #182032
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
